html, body {
	height:100%;	
}

body {
	background-image: url('../img/back.jpg');
	background-size: cover;
}
h1 {
	padding: 30px 0px;
	text-align: center;
	font-family: 'MedievalSharp', cursive;
	text-shadow: 0px 0px 10px red;
	color: wheat;
	font-size: 60px;
}
.container {
	background: rgba(255, 255, 255, 0.31);
    padding: 20px;
	height: 100%;
    box-sizing: border-box;
}
#okienko {
    background-color: black;
    border-width: 4px;
    border-color: #BBB;
    border-style: ridge;
    height: 600px;
    box-shadow: 3px 3px 10px #bbb;
    color: green;
	width: 75%;
	float:left;
	padding: 30px;
	box-sizing: border-box;
	position:relative;
}
.left {
	position:relative;
	float:left;
	width: 10%;
	margin-right: 2.5%;
	height:600px;
}
.right {
	position:relative;
	float:right;
	width: 10%;
	margin-left: 2.5%;
	height:600px;
}
.you-lose {
	margin: auto;
	position: absolute;
	top: 50%; left: 0; right: 0;
	text-align: center;
	font-family: 'MedievalSharp', cursive;
	text-shadow: 0px 0px 10px red;
	color: wheat;
	font-size: 60px;
}
.you-win {
	margin: auto;
	position: absolute;
	top: 50%; left: 0; right: 0;
	text-align: center;
	font-family: 'MedievalSharp', cursive;
	text-shadow: 0px 0px 10px red;
	color: wheat;
	font-size: 60px;
}
#user-hp-bar, #npc-hp-bar {
	width:100%;
	position: absolute;
	height:100%;
	bottom:0;
	transition: height 0.5s cubic-bezier(0.81, -0.7, 0.33, 1.61);
}
#user-hp-bar {
	background:green;
}
#npc-hp-bar {
	background:red;
}
#player-hp {
    width: 20%;
    height: 50px;
    color: red;
    float: left;
	font-size:1.2em;
	font-weight: 700;
}

#attack {
	margin-left: 15%;
	float: left;
}

#defend {
	margin-right: 15%;
	float: right;
}
#attack, #defend {
	margin-top: 20px;
	width: 100px;
	cursor:pointer;

}
#health {
    margin-left: 1000px;
    height: 25px;
    width: 350px;
}